@model WebPihare.Entities.Visitregistration

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitregistration</h4>
    <hr />
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.VisitDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commisioner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commisioner.CommisionerPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentCode)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index">Volver a la lista</a>
    }
    else
    {
        <a asp-action="MyVisits">Volver a la lista</a>
    }    
</div>
