@model WebPihare.Models.RegisterModalClientViewModal


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<h4>@TempData["ErrorMsg"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().DepartmentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().NumberFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().DepartmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().NumberBedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().DepartmentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().DeparmentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments.FirstOrDefault().Comments)
            </th>
            <th>
                @Html.DisplayName("Seleccionar")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberFloor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentType.DepartmentTypeValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberBedrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentState.DepartmentStateValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeparmentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>

                <td>
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">

                        @if (item.DepartmentStateId == 1)
                        {
                            <button data-toggle="modal" data-target="#ClientModal" onclick="ChangeClientDepartmentIdValue(@item.DepartmentId)" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Añadir</button>
                        }
                            <a asp-action="Details" asp-route-id="@item.DepartmentId" type="button" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <button data-toggle="modal" data-target="#CommentModal" onclick="ChangeClientDepartmentIdValueComment(@item.DepartmentId)" type="button" class="btn btn-default"><i class="glyphicon glyphicon-comment"></i> Comentar</button>
                            <a asp-action="Edit" asp-route-id="@item.DepartmentId" type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.DepartmentId" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                        }
                    </div>
                </td>
            </tr>
            <div id="ClientModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Registrar Cliente</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form asp-action="RegisterClient">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label asp-for="Client.FirstName" class="control-label"></label>
                                                <input asp-for="Client.FirstName" class="form-control" />
                                                <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label asp-for="Client.LastName" class="control-label"></label>
                                                <input asp-for="Client.LastName" class="form-control" />
                                                <span asp-validation-for="Client.LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label asp-for="Client.SecondLastName" class="control-label"></label>
                                                <input asp-for="Client.SecondLastName" class="form-control" />
                                                <span asp-validation-for="Client.SecondLastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label asp-for="Client.CI" class="control-label"></label>
                                                <input asp-for="Client.CI" class="form-control" />
                                                <span asp-validation-for="Client.CI" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label asp-for="Client.Observation" class="control-label"></label>
                                                <input asp-for="Client.Observation" class="form-control" />
                                                <span asp-validation-for="Client.Observation" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input type="submit" value="Crear" class="btn btn-default" />
                                            </div>
                                        </div>
                                        <input asp-for="DepartmentIdSelected" hidden value="0">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="CommentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Añadir Comentario</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form asp-action="AddComment">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label asp-for="DepartmentComment" class="control-label"></label>
                                                <input asp-for="DepartmentComment" class="form-control" />
                                                <span asp-validation-for="DepartmentComment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input type="submit" value="Comentar" class="btn btn-default" />
                                            </div>
                                        </div>
                                        <input asp-for="DepartmentIdCommentSelected" hidden value="0">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>

<script>

    function ChangeClientDepartmentIdValue(data) {
        document.getElementById("DepartmentIdSelected").value = data;
    }

    function ChangeClientDepartmentIdValueComment(data) {
        document.getElementById("DepartmentIdCommentSelected").value = data;
    }
</script>
