@model IEnumerable<WebPihare.Entities.Departmentstate>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentStateValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentStateDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentStateValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentStateDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentStateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentStateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentStateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
